<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the undecided store that's probably gonna be for photography prints <br><small>cos my dad is a photographer and it would be nice to do something for him</small></h1>
	</div> 
</div>
<div class="container">
	<h3>This will probably be some kind of featured product or deals as well as a bit about the company</h3>
</div>