#carousel.carousel.slide{:data => {:ride => "carousel"}}
	%ol.carousel-indicators
		%li.active{:data => {:target => "#carousel", :slide => {:to => "0"}}}
		%li{:data => {:target => "#carousel", :slide => {:to => "1"}}}

	.carousel-inner{:role => "listbox"}
		- @products.each do |product|
			.item{:class => ("active" if product == @products.first)}
				= image_tag product.image_url, :alt => product.description
				.carousel-caption
					%h2= product.name

	%a.left.carousel-control{:href => "#carousel", :role => "button", :data => {:slide => "prev"}}
		%span.glyphicon.glyphicon-chevron-left{:aria => {:hidden => "true"}}
		%span.sr-only Previous
	%a.right.carousel-control{:href => "#carousel", :role => "button", :data => {:slide => "next"}}
		%span.glyphicon.glyphicon-chevron-right{:aria => {:hidden => "true"}}
		%span.sr-only Next

