<body style="margin:0; padding:0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td bgcolor="#aaaaaa">
				<table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse: collapse; text-align:center;border:1px solid #000000;" >
					<tr><td bgcolor="#FFFFFF" border="0" style="font-size:0; line-height:0; height:10px;">&nbsp;</td></tr>
					<tr>
						<td bgcolor="#FFFFFF" style="padding:40px;font-family:Ariel, sans-serif;font-size:24px;" color="#990000">
							You've received a message from <%= @name %>
						</td>
					</tr>
					<tr>
						<td>
							<table border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="border-collapse: collapse; text-align:center;">
								<tr>
									<td bgcolor="#FFFFFF" style="padding:20px;font-family:Ariel, sans-serif;font-size:18px">
										<%= @message %><br>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
