<center>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
	<tr>
  	<td align="center" valign="top" id="bodyCell">
    	<!-- BEGIN TEMPLATE // -->
    	<table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
        	<tr>
            	<td align="center" valign="top">
                	
                </td>
            </tr>
        	<tr>
            	<td align="center" valign="top">
                </td>
            </tr>
        	<tr>
            	<td align="center" valign="top">
                	<!-- BEGIN BODY // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                        <tr>
                            <td valign="top" class="bodyContent" mc:edit="body_content">
                                <h1>Hay <%= @name %>!</h1>
                                <h3>Thanks so much for getting in touch.</h3>
                                Rest assured, we'll get back to you as soon as possible. In the meantime, why not browse what we have to offer in our <a href="https://career-foundry-app.herokuapp.com/">store!</a>
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                    <!-- // END BODY -->
                </td>
            </tr>
        	<tr>
            	<td align="center" valign="top">
                	<!-- BEGIN FOOTER // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                        <tr>
                            
                        </tr>
                        <tr>
                            <td bgcolor="#BFB5B2" valign="top" class="footerContent" style="padding:5px;" mc:edit="footer_content01">
                                <em>Copyright &copy; 2015 &#64;field Web Development, All rights reserved.</em>
                                <br />
                                
                            </td>
                        </tr>

                    </table>
                    <!-- // END FOOTER -->
                </td>
            </tr>
        </table>
        <!-- // END TEMPLATE -->
      </td>
    </tr>
  </table>
</center>