// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination {
	width: 100%;
	color: white;
	.next {
		padding: 0.3%;
		margin: 0.3%;
	}
	.current {
		@extend .next;
		background-color: white;
		border-radius: 10px;
		color: black;
		font-weight: bolder;
	}
	.previous_page, .next_page {
		margin: 0 0.5%;
		color: white;
	}
	a:link {
		color: gray;
	}
}
.glyphicon-remove {
	color: darkred;
}