.contact-form {
	.row {
		width: 80%;
		margin: 5vh auto;
		input[type=submit] {
			width: 100%;
	 		padding: 2%;
	  		margin-top: 3%;
			background-color: #E8D72E;
			border-radius: 15px;
			margin-bottom: 10%;
		}
		input[type=text],
		textarea {
			width: 100%;
		}
		textarea {
			height: 80px;
		}
		label {
			margin-top: 2%;
		}
	}

}