// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	margin: 0 auto;
}
#new-button {
	float: left;
}
.grid {
	text-align: center;
	.img-responsive {
	}
}
.grid-item,
.grid-sizer {
	width: 49.7%;
	margin-bottom: 0.3%;
	@media (min-width: 786px) {
		width: 32.7%;
	}
	@media (min-width: 900px) {
		width: 24.7%;
	}
}
.gutter-sizer {
	width: 0.3%;
}
.first-item {
	background-color: white;
	padding: 4% 1%;
	// margin-top: 3px;
}
.item-cost {
	position: absolute;
  	top: 0;
  	padding: 2%;
  	font-size: 1.4em;
  	background-color: rgba(241,232,241,0.6);
}
.grid > .btn {
	padding: 2%;
	font-size: 0.8em;
	@media (min-width: 568px) {
		padding: 1% 2%;
		font-size: 1em;
	}
	@media (min-width: 800px) {
		font-size: 1.3em;
	}
}
.add-container {
	text-align: center;
}
.edit-container {
	@extend .add-container
}
.new-container {
	margin-bottom: 50px;
	text-align: center;
	a:link {
		color: gray;
	}
}
.order-btn {
	margin-top: 3%;
}
.add-to-order {
	padding: 1.4% 15%;
  	border-radius: 10px;
	background-color: orange;
	border: 1px solid gray;
}
#comment_body {
	width: 100%;
}
.show-img-container {
	img {
		max-height: 86vh;
  		margin: 3% auto 0;
  	}
}