// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: black;
	padding-top: 40px;
}
.navbar {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	.log-btn {
		display: inline-block;
	}
	.notice {
		display: inline-block;
	}
	.navbar-right {
		margin-right: 7%;
	}
}
#navbar {
	a {
		font-size: 1.6em;
		&:hover {
			background-color: #50D4B0;
		}
	}
}
.navbar-form {
	width: 120%;
	.text-box {
		font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;	
  		display: inline-block;
	}
}

.jumbotron {
	background-image: url(/images/California%20Street.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -128px;
	width: 100%;
	.container {
		background-color: rgba(0,0,0,0.5);
		color: white;
		width: 100%;
	}
	h1 {
		margin: 2% 7%;
	}
}
.header {
	color: white;
	text-align: center; 
}
