

<div class="container row">
  <h1>Featured Prints</h1>
  <button class="btn" id="new-button"><%= link_to 'Add New Product', new_product_path %></button>
</div>

<div class="grid">
	<div class="grid-sizer"></div>
  <%= render @products %>
</div>






